.product-details-container {
  margin: 40px 0;
  padding: 0 40px;
  .product-price-container {
    margin-top: 30px;
  }
}

.product-details {
  padding: 50px 60px 90px 60px;
}

.icon-goback {
  color: #407bff;
  transform: rotate(-180deg);
  margin-right: 30px;
}

.product-details-goback {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-goback {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
}

.product-details-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px
}

.product-info-fields {
  flex: 1 0 auto;
  order: 3;
}

.product-details-card {
  flex: 1 0 586px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 38px 29px;
}

.product-description-card {
  flex: 1 0 586px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 38px 29px;
}

.product-details-image {
  width: 340px;
  height: 340px;
}

.product-description-title {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
  margin-bottom: 25px;
}

.product-description-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

.product-details-name {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.015em;
  margin-top: 30px;
}

.product-details .product-price {
  font-size: 48px;
}

.product-details .product-currency {
  font-size: 28px;
}

@media (max-width: 1024px) {
  .product-details-card {
    flex: 1 0 400px;
  }
  .product-description-card {
    flex: 1 0 400px;
  }
}

@media (max-width: 768px) {
  .product-details {
    display: flex;
    flex-direction: column;
  }

  .product-details-info {
    flex-direction: column;
  }

  .product-details-card {
    width: 530px;
    margin: 0 auto;
  }

  .product-details {
    flex-direction: column;
  }

  .product-info-fields {
    order: inherit;
    border: 0;
    padding: 0 10px;
    margin-bottom: 40px;
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-description-text {
    width: 460px;
  }
}

@media (max-width: 576px) {
  .product-details-container {
    margin-top: 5px;
    padding: 10px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .product-details-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    padding: 10px;
  }

  .product-details-image {
    width: 200px;
    height: 200px;
  }

  .product-info-fields {
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex: auto;
  }

  .product-description-card {
    flex: auto;
  }

  .product-description-text {
    width: 90%;
    height: 200px;
    overflow-y: auto;
  }
}